.site-header {
    padding-top: 48px;
}

.header-inner {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 114px;
}

.header-logo {
    font-size: 24px;
    color: #000000;
    text-decoration: none;
    margin-right: auto;
}

.site-nav {
    margin-right: auto;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 28.5px;
    text-decoration: none;
}


.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.list-unstyled {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}


.site-header {
    padding: 20px 0;
    background-color: transparent;
}

.header-inner {
    display: flex;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    margin-right: auto;
}

.nav-list {
    display: flex;
    gap: 20px;
}

.nav-item {
    padding: 8px 16px;
    border: transparent solid 1px;
    border-radius: 20px;
}

.nav-link {
    font-size: 18px;
    color: #000000;
    text-decoration: none; 
    transition: color linear 0.3s, background-color linear 0.3s;
}

.nav-item:hover {
    background-color: #ffffff;
    opacity: 0.6;
}

.nav-item:active {
    background-color: #121212;
}

.header-logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
    margin-right: auto;
}